<div class="container_1064">
  <div class="grid_">
    <div class="for_smart_browsers">
      <style type="text/css">
        .nivoSlider_wrapper {
          width: 1064px; height: 490px; /* Set the size */
        }
        #screenshot img { width:SUPERFISH_IMAGE_WIDTHpx;height:SUPERFISH_IMAGE_HEIGHTpx;}
        #screenshotCategory img { width:84px;height:84px;}
      </style>
      <style type="text/css">
        .nivo-caption           {display:none !important;}
      </style>
      <script type="text/javascript">
        $(window).load(function() {
          $('#slider').nivoSlider ();
        });
      </script>
      <div class="nivoSlider_wrapper">
        <div id="slider" class="nivoSlider">
          <% @gallery_for_slider.each do |gallery| %>
            <a href="#">
              <img src="<%= gallery.image.url %>" width="1064" height="490" />
            </a>
          <% end %>
        </div>
      </div>
      <div id="latest_products">
        <div class="block_content">
          <h1 if='shopping'>Latest products</h1>
          <ul>
            <% @latest_products.each_with_index do |product, i| %>
              <li>
                <a class="product_image" href="<%= product_path(product.id) %>" title="<%= product.title %>">
                  <% if product.galleries.first %>
                    <img src="<%= product.galleries.first.image.url(:for_product) %>" alt="<%= product.title %>" width="240" height="220"/>
                  <% else %>
                    <img src="/assets/no_photo_available.gif" width="240" height="220" />
                  <% end %>
                </a>
                <h5><a href="<%= product_path(product.id) %>" title="<%= product.title %>"><%= product.title %></a></h5>
                <div>
                  <span class="price"><%= number_to_currency product.cost %></span>
                  <a href="<%= product_path(product.id) %>" title="View">View</a>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="clearblock"></div>
        </div>
      </div>
    </div>
  </div>
</div>