<div class="container_1064">
  <div class="grid_">
    <div class="for_smart_browsers">
      <style type="text/css">
        .nivoSlider_wrapper {
          width: 1064px; height: 490px; /* Set the size */
        }
        #screenshot img { width:SUPERFISH_IMAGE_WIDTHpx;height:SUPERFISH_IMAGE_HEIGHTpx;}
        #screenshotCategory img { width:84px;height:84px;}
      </style>
      <style type="text/css">
        .nivo-caption           {display:none !important;}
      </style>
      <script type="text/javascript">
        $(window).load(function() {
          $('#slider').nivoSlider ();
        });
      </script>
      <div class="nivoSlider_wrapper">
        <div id="slider" class="nivoSlider">
          <% @gallery_for_slider.each do |gallery| %>
            <a href="#">
              <img src="<%= gallery.image.url %>" width="1064" height="490" />
            </a>
          <% end %>
        </div>
      </div>
      <ul class="banner_set">
        <% @last_products.each do |product| %>
          <li class="item">
            <a href="<%= product_path(product) %>" target="_self">
              <% if product.galleries.first %>
                <img src="<%= product.galleries.first.image.url(:for_product) %>" width="328" height="237" />
              <% else %>
                <img src="/assets/no_photo_available.gif" width="328" height="237" />
              <% end %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<div>
<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form action="http://facebook.us6.list-manage.com/subscribe/post?u=a692702b07&amp;id=efb70bb866" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Subscribe to our mailing list</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>
<script type="text/javascript" language="JavaScript" src="http://facebook.us6.list-manage.com/subscriber-count?b=36&u=29ced2e7-8826-427d-84e4-edbd1d24c7cf&id=efb70bb866"></script>
<!--End mc_embed_signup-->
<% @lists.each do |item| %>
    <b>Name:</b> <%= item["name"] %>
<% end %>
<% @info.each do |inf| %>
<%= inf %>
<% end %>
</div>