<!DOCTYPE html>
<html>
<head>
  <title>Sneakers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<p id="back-top"><a href="#top"><span>Top</span></a></p>
<div id="bodyWrapper" class="bg_body index_page">
  <div class="row_2">
    <div class="container_1064">
      <div class="grid_">
        <div class="cat_navbar">
          <div class="navbar_bg">
            <ul class="sf-menu">
              <li class="current_0">
                <a href="#">
                  <img src="/assets/logo_black.jpg" height="80">
                </a>
              </li>
              <li class="current_0">
                <a href="/">RELEASES</a>
              </li>
              <li class="current_0">
                <a href="/pages/about_us">ABOUT US</a>
              </li>
              <li class="current_0">
                <a href="/pages/contact_us">CONTACT US</a>
              </li>
              <li class="current_0">
                <a href="/pages/faq">FAQ</a>
              </li>
              <li class="current_0">
                <a href="/pages/conditions">DISCLAIMER & TERMS/CONDITIONS</a>
              </li>
              <% if current_user %>
                <li class="current_0 last">
                  <%= link_to 'LOGOUT', destroy_user_session_path, :method => 'DELETE' %>
                </li>
              <% else %>
                <li class="current_0 last">
                  <%= link_to 'LOGIN', new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="row_3">
      <% if notice || alert %>
        <div class="row">
          <%= raw "<p class='flash_notice'> #{notice}</p>"  if notice %>
          <%= raw "<p class='flash_error'>#{alert}</p>"     if alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div class="wrapper_row_5">
    <div class="row_5">
      <div class="container_4">
        <div class="grid_4">
          <div class="boxes_footer">
            <div class="Footer_BoxWrapper fl_left">
              <h4 class="Footer_BoxHeading">Main Menu</h4>
              <ul>
                <li class="">
                  <a href="/">Releases</a>
                </li>
                <li class="">
                  <a href="/pages/about_us">About Us</a>
                </li>
                <li class="">
                  <a href="/pages/faq">FAQ</a>
                </li>
                <li class="">
                  <a href="/pages/contact_us">Contact Us</a>
                </li>
                <li class="">
                  <a href="/pages/conditions">Disclaimer & Terms/Conditions</a>
                </li>
              </ul>
            </div>
            <div class="Footer_BoxWrapper fl_left">
              <h4 class="Footer_BoxHeading">Newsletter</h4>
              <ul class="information">
                <li class="">
                  <div class="div_2">
                    <div class="list_bg">
                    </div>
                    <a href="http://eepurl.com/v6xDL" target="_blank">Subscribe</a>
                  </div>
                </li>
                <li class="">
                  <div class="div_2">
                    <div class="list_bg">
                    </div>
                    <a href="http://facebook.us6.list-manage1.com/unsubscribe?u=a692702b07&id=efb70bb866" target="_blank">Unsubscribe</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="Footer_BoxWrapper fl_left">
              <h4 class="Footer_BoxHeading">Your Account</h4>
              <ul class="information">
                <li class="0">
                  <div class="div_2">
                    <div class="list_bg">
                    </div>
                    <a href="/users/sign_in">Log in</a>
                  </div>
                </li>
                <li class="0">
                  <div class="div_2">
                    <div class="list_bg">
                    </div>
                    <a href="/users/sign_up">Create an Account</a>
                  </div>
                </li>
                <li class="0">
                  <div class="div_2">
                    <div class="list_bg">
                    </div>
                    <a href="/orders">Orders</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="Footer_BoxWrapper fl_left">
              <h4 class="Footer_BoxHeading">Contacts</h4>
              <ul class="information">
                <li class="item_1">8901 Marmora Road, Glasgow,  D04 89GR</li>
                <li class="item_2">
                  <b><span>1 (234) </span></b>
                  <strong><span>567-8901</span></strong>
                </li>
                <li class="item_3">
                  <a class="item_" href="https://www.facebook.com/">
                  </a>
                  <a class="item_0" href="http://http://www.youtube.com/">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container_4">
        <div class="grid_4">
          <div class="footer">
            <p>
              <a href="#">Tennis</a>
              &nbsp;&nbsp;  &copy; 2013<b>&nbsp;
              <a href="#">Privacy Notice</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="#">Conditions of Use</a></b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
